.commentArea {
  margin-left: 30px;
  background: LightCyan;
  padding: 1px;
}

.commentEntry {
  padding-top: 4px;
  background: White;
}

.commentEntry dt {
  display: none;
}

dl {
  margin: 4px;
}

.commentEntry textarea {
  margin: 2px;
}

.pageControl {
    float: right;
}

.sns {
    text-align: right;
}

.sns * {
    display: inline-block;
}

.sns .pocket {
    width: 90px;
}

#___plusone_0 {
    width:65px !important;
}

a:link,a:visited {
    color: white;
}
